/* Button styles */

.btn {
    margin-top: 15px;
    width: $max;
    color: $secondary-txt;
    border: none;
    padding: 10px 0;
    text-transform: uppercase;
    border-radius: 5px;
}

@include create-buttons($btn-colors);