/* ==================== Grid styles ==================== */

.container {
  padding: 0 10px;
  @include mq($md-break) {
    max-width: 1400px;
    @include center;
  }
}

.centered {
  @include mq($md-break) {
    @include center;
  }
}

.row {
  display: flex;
  flex-direction: column;
  padding: 1em 10px;
  @include mq($md-break) {
    flex-direction: row;
  }
}
  
[class^=col] {
  margin-top: 10px;
  flex-basis: $max;
  min-height: 25px;
  padding: 10px;
  border-radius: 5px;
  @include mq($md-break) {
    display: flex;
    justify-content: center;
    margin-top: 0;
    align-items: center;
  }
  + [class^=col] {
    @include mq($md-break) {
      margin-left: 10px;
    }
  }
}

// For loop creates ".theme.col-" classes 1 through 12, and adds it's background-color.
// Then creates increasing flex-basis for each ".col-" 1 through 12 in a media query.
@for $i from 1 through 12 {
  .theme.col-#{$i}{
    background-color: nth($colors, $i);
  }
  .col-#{$i} {
    @include mq($md-break) {
      flex-basis: ($i * 1/12) * $col-size;
    }
  }
}

.card {
  flex-basis: $max;
}