/* ==================== Image styles ==================== */

.img {

  &-logo {
    @include center;
  }
  &-avatar {
    @extend .img-logo;
    @include image-style;
    max-height: $max;
  }
  &-frame {
    @extend .img-logo;
    @include image-style;
    padding: 13px;
    border: 1px solid $brdr-color;
  }

}

.logo {
  @include mq($md-break){
    margin-left: initial;
    margin-right: initial;
  }
}