/* ==================== Mixins ==================== */

/* Button type and color to match. 
Each loop goes through btn-colors map inside mixin file,
creates class and assigns background-color. Also adds hover transition to
lighten button background color */

@mixin create-buttons($buttons) {
  @each $btn-type, $color in $buttons {
    .#{$btn-type} {
      background-color: $color;
      transition: background-color .2s ease-in;
      &:hover {
        background-color: lighten($color, 15%);
      }
    }
  }
}

@mixin image-style {
  margin-top: 10px;
  max-width: $max;
}

@mixin center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

//media query breakpoint mixin
@mixin mq($size) {
  @media (min-width: $size) {
    @content;
  }
}