// color variables
$primary-txt: #777;
$secondary-txt: #fff;
$primary-color: #51ddfc;
$secondary-color: #58e1c1;
$brdr-color: #ccc;

// sizes
$max: 100%;
$txt-skinny: 300;
$txt-fat: 700;

// breakpoints

$md-break: 768px;